header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3vw;
  z-index: 10;
  height: 75px;

  h2 {
    cursor: context-menu;
  }

  .menu {

    a {
      font-size: 1.3rem;
      padding: 0 3vw;
    }

  }
}