footer {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 150px;
  padding: 10px 0;

  .rdmammad__sicials{
    display: flex;
    justify-content: center;

    img{
      border-radius: 30px;
    }
  }

  p {
    text-align: center;
    margin: 0;
  }

  .footer__heart {
    color: #e84545;
    padding: 0 5px;
  }
}