html, body {
  height: 100%;
  scroll-behavior: smooth;
  transition-duration: 500ms;
}
body{
  font-family: 'Raleway', sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
}
a{
  color: #000;
  text-decoration: none;
}
p{
  margin: 0;
}
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #F4F4F4;
}

::-webkit-scrollbar-thumb {
  background: #848984;
}
::selection {
  background: #848984; /* WebKit/Blink Browsers */
  color: white;
}
::-moz-selection {
  background: #848984; /* Gecko Browsers */
  color: white;
}